<!-- 

 * Developer: Vikram Bala
 * Contact: vikrambala2002@gmail.com
 * Github Repository: https://github.com/vbala29/Jazz-Improv-Bot#readme
 
-->
<%- include(partials + '/header.ejs') %>
<link rel="stylesheet" href="/css/selectChart.css">

<body onload="generateCallbacks()"> </body>


<div class="p-4 bg-light text-success rounded-3">
    <div class="container-fluid py-1">
      <h1 class="display-6 fw-bold">Improvization Bot</h1>
      <p class="col-md-8 fs-7">
          A machine trying to conquer the jazz language
      </p>
      


       <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Instructions 
    </button>
    
    
    <!-- Modal -->
    <div class="modal fade text-secondary" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">How to Use the Improvization Bot</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                1. <b>Introduction:</b> On this page you can select the charts you have made, and ask the bot (nicely of course!) to improvize over the chord changes!.
                You can also manage the charts saved to your account, by deleting ones you don't want anymore.
                <br> <br>
                2. <b>Improvization Settings:</b> <br> a) Tempo - Allows you to select the tempo at which the chord changes are played and the bot improvizes over them. <br> <br>
                b) Frequency of Rests - Determines how likely the bot, for a certain note it will play, is to play the note as a rest (silent). <br> <br>
                c) Diatonic Chord Substitutions - Determines how likely the bot is to use a scale that includes the chord tones, but is not necessarily the main scale implied by the chord quality.
                For example, over a C dominant 7 chord (C7), instead of playing the C mixolydian scale, which is the scale most obviously implied by the chord, the C blues scale, C diminished scale,
                or C lydian dominant scale (half diminished scale) might be played.  <br> <br>
                d) Outness - In jazz, playing "outside" the changes, is when a musician plays an improvization that uses a scale or chord hormonically distant from the chord on the sheet music. 
                This "out" sound can help to build tension before the musician creates a feeling of resolution by resolving his improvizational melody back to a chord on the sheet music.
                This parameter allows you to choose how likely it is that some "outness" is added to the improvization. 
                <br><br>
                e) Play Chords Under Improvization - Allows you to choose if you want chords to be played alongside the improvization bot's generated melody. 
                This helps to hear how the improvization bot's melody fits in with the chord it is supposed to be playing over.

                <br><br>
                3. <b>Behind the Scenes</b>: More insights into how exactly these improvization parameters, the improvization itself, and other facets of this website work
                can be found on the <a href="/about">about page</a>.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>    
<br>



<div class="card" style="margin-left:70px; margin-right:70px">
    <div class="card-header">Audio Visualizer</div>
    <div class="card-body">
        <!-- Used in selectChart.js to show loading icon when AWS request is being done-->
        <section class="spinner"></section>

        <!-- Used in selectChart.js to display chord changes that get highlighted-->
        <section class="chart">
            <div class="d-flex justify-content-center chart-div"></div>
        </section>

        <!-- Used in selectChart.js to display note being played-->
        <section class="note card-text text-warning"></section>
    </div>
</div>

<br>    

<!-- Used in selectChart.js to set tempo, and in AWS lambda request for rests, "out"-ness, and substitution parameter-->
<section class="improv-parameters" style="margin-left:35px; margin-right:35px;">
    <div class="card">
        <div class="card-header">
            Improvization Settings
          </div>
        <div class="card-body">
            <div class="row">
                <div class="card col">
                    <div class="card-body mx-auto">
                        <div class="slidecontainer">
                            <div class="card-header text-primary" style="width: 16rem;"> Tempo </div>
                            <input id="tempo" type="range" min="50" max="300" value="120" class="slider">
                            <div id="tempo-text" class="card-text text-center" style="width: 16rem;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body mx-auto">
                        <div class="slidecontainer">
                            <div class="card-header text-primary" style="text-align: center; width: 16rem;"> Frequency of Rests </div>
                            <input id="rests" type="range" min="0" max="50" value="10" class="slider">
                            <div id="rests-text" class="card-text text-center" style="width: 16rem;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col">
                    <div class="card-body mx-auto">
                        <div class="slidecontainer">
                            <div class="card-header text-primary" style="width: 16rem;">Diatonic Chord Substitions </div>
                            <input id="substitutions" type="range" min="0" max="100" value="10" class="slider">
                            <div id="substitutions-text" class="card-text text-center" style="width: 16rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card col mx-auto">
                    <div class="card-body mx-auto">
                        <div class="card-header text-primary text-center mx-auto" style="width: 16rem;"> Outness </div>
                        <select class="form-select text-center" id="outness" aria-label="Default">
                            <option selected>Solely Diatonic (Least Out)</option>
                            <option value="1">You Heard Giant Steps Once (2nd Least)</option>
                            <option value="2">Average Jazz Musician (Medium)</option>
                            <option value="3">You are John Coltrane (2nd to Most Out)</option>
                            <option value="3">So Out They Might Just Be Playing the Wrong Song (Most Out)</option>
                        </select>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-body mx-auto">
                        <div id="tempo-text" class="text-secondary card-text text-center" style="width: 16rem;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="chords" checked>
                                <label class="form-check-label card-header text-primary" for="flexCheckDefault">
                                  Play chords under improvization
                                </label>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="card col">
                    <div class="card-body mx-auto">
                        <div id="tempo-text" class="text-secondary card-text text-center" style="width: 16rem;">
                            Coming in the near future...
                        </div>
                    </div>
                </div>
            </div>

               
        </div>
    </div>
</section>

<section>
    <div>
        <ol id="chart" style="margin-left: 20px; margin-bottom: 10px;">
            <% for (var i = 0; i < length; i++) { %>
                <br>
                <div style ="margin-left: 0px; background-color: darkseagreen; background-size: contain; margin-right: 30px;">
                    <li> Title of Chart: <%= view_params[i] %>         
                        <button class="btn btn-primary select-button" id="<%=view_params[i]%>">Select Chart</button>
                        <button class="btn btn-danger delete-button" id="<%=view_params[i]%>">Delete Chart</button>
                    </li>
                </div>
            <% } %>
        </ol>
    </div>
   
</section> 

</body>
<script src="/js/selectChart.js"></script>


<footer class="footer">
  <!-- Footer -->
  <%- include(partials + '/footer.ejs') %>
 </footer>